gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks



# Ignore Gradle build folders
.gradle/
android/.gradle/

# Ignore IDE settings
.idea/
*.iml

# Ignore build output
build/
android/app/build/

# Misc
.DS_Store
*.log